body{
  color:#02084b;
}
.orange{
  color:#f16529;
}
.dark{
  color:#02084b;
}
.navbar{
  padding: 1% 15%;
  background-color: #f16529;
}
.navbar-brand{
  color:#fff;
  font-size:1.5rem;
  font-weight: bold;
}
.navbar-brand:hover{
  color:#fff;
}
.navbar-toggler{
  color:#fff;
  background-color: #fff;
}
.nav-item{
  padding:0px 15px;
}
.nav-link{
  color:#fff;
}
.nav-link:hover{
  color:#fff;
}
.header{
  padding:6% 15% 3% 15%;
}
.header-title{
  font-size:2.5rem;
  line-height:1.5;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.header-sub-title{
  font-size:1rem;
}
.home-img{
  height:90%;
  width:90%;
  transform: scale(-1,1);
}
.header-btn,.header-btn:hover{
  background-color:#f16529;
  color:#fff;
  font-size: 1.2rem;
  padding:10px;
  text-decoration: none;
  border-radius: 5px;
}

#about{
  padding: 2% 15% 0% 15%;
}
.about-heading{
  padding-bottom: 5%;
}
.about-title{
  font-size:0.9rem;
}
.about-img{
  width:100%;
  height:100%;
  -webkit-clip-path: circle(30% at 47% 30%);
  clip-path: circle(30% at 47% 30%);
}

#learn{
  background-color:#fcfcff;
  padding: 2% 15% 0% 15%;
}
.learn-row{
  margin-top:3%;
}
.card{
  background-color:#cb6ce6;
  border:0px;
  box-shadow: 10px 10px 40px -8px rgba(230,224,224,0.75);
-webkit-box-shadow: 10px 10px 40px -8px rgba(230,224,224,0.75);
-moz-box-shadow: 10px 10px 40px -8px rgba(230,224,224,0.75);
}
.card-body{
  background-color:#fff;
}
.learn-heading{
  padding-bottom:5%;
}
.learn-img{
  width:100%;
  height:100%;
}
.learn-header-title-container{
  display: flex;
  justify-content: center;
}
.learn-header-title{
  color:#ffffff;
  font-size:1.5rem;
  margin: auto;
}
.card-text{
  font-size:0.8rem;
}
.learn-btn{
  background-color:#f16529;
  color:#fff;
  font-size: 1.2rem;
  padding:10px;
  border-radius: 5px;
  text-decoration: none;
}
.learn-btn:hover{
  border:2px solid #f16529;
  background-color:#ffffff;
  color:#f16529;
}

#contact{
  padding:6% 15%;
}
.contact-heading{
  padding-bottom:5%;
}
.contact-img{
  width:80%;
  height:80%;
}
.contact-sub-title{
  font-size:0.9rem;
}
.address{
  padding:5% 0% 5% 0%;
}
.address-a{
  text-decoration: none;
  color:#02084b;
}
.contact-btn{
  margin-right:10px;
  text-decoration: none;
  background-color:#f16529;
  color:#fff;
  font-size: 1.2rem;
  padding:10px;
  border: 0px;
  border-radius: 5px;
}
.contact-btn:hover{
  background-color:#f16529;
  color:#fff;
}
.footer{
  width:100%;
  height:5%;
  background-color: #f16529;
  text-align: center;
  padding:3% 15%;
  color:#ffffff;
}
.footer-logo a{
  color:#fff;
  text-decoration:none;
  margin:0.5rem;
}
.footer-title{
  color:rgba(255,255,255,0.7);
  padding-top:2%;
}
